
{% load static %}

    <div class="col s12 m6 l4">
        <div class="card small">
            <p class="light">{{ post.create_date }}</p>
            <div class="center">
                <img
                        {% if post.image %}
                        src="{% get_media_prefix %}{{ post.image }}"
                        {% else %}
                        src="{% static 'img/post_empty.png' %}"
                        {% endif %}
                        width="217" height="112">
            </div>
            <div class="card-content center">
                <h6>{{ post.title }}</h6>
            </div>
            <div class="card-action center">
                <a href="#">25 <img src="{% static 'img/like.svg' %}" height="14" alt="лайков"></a>
                <a href="#">25 <img src="{% static 'img/comment.svg' %}" height="14" alt="комментариев"></a>
                <a href="#">25 <img src="{% static 'img/view.svg' %}" height="14" alt="просмотров"></a>
            </div>
        </div>
    </div>
