
{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">

        <div class="section">
            <div class="row">
                <span>NEW</span>
                <span>25 <img src="{% static 'img/like.svg' %}" height="12" alt="лайков"></span>
                <span>25 <img src="{% static 'img/comment.svg' %}" height="12" alt="комментариев"></span>
                <span>25 <img src="{% static 'img/view.svg' %}" height="12" alt="просмотров"></span>
            </div>
            {% with object_list|first as post %}
            <div class="row">
                <h5>{{ post.title }}</h5>
            </div>
            <div class="row">
                <p class="col s6 m6 l6 light">{{ post.text }}</p>
            </div>
            <a class="btn" href="#">Читать</a>
            {% endwith %}
        </div>

        <div class="divider"></div>

        <div class="section">
            <div class="row">
                <div class="col s11 m11 l11">
                    <h4>Другие статьи</h4>
                </div>
                <div class="col s1 m1 l1">
                    <img src="{% static 'img/filter.svg' %}" height="38" width="38">
                </div>
            </div>

            <div class="row">
                {% for post in object_list|slice:"1:4" %}
                {% include 'blog/inc_post_box.html' %}
                {% endfor %}
            </div>

            <div class="row">
                {% for post in object_list|slice:"4:7" %}
                {% include 'blog/inc_post_box.html' %}
                {% endfor %}
            </div>

            <div class="row">
                {% for post in object_list|slice:"7:10" %}
                {% include 'blog/inc_post_box.html' %}
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}
